{% include 'partials/head.liquid' %}
  <section class="product-info">
    <h2 class="info-name">{{ product.name }}</h2>
    <p class="info-price">from <strong>{{ product.amount }}</strong> EUR online and near you</p>
    <button class="info-add-to">Add to<img src="/assets/images/save-icon.svg" alt=""></button>
    <img class="info-image" src="{{ product.image }}">
    <p class="info-description">{{ product.description }}</p>
  </section>
{% include 'partials/foot.liquid' %}