{% include 'partials/head.liquid' %}

{% comment %} <div class="popup visually-hidden">
  <p>Gift saved!</p>
  <button class="close-button"><img src="/assets/images/close-icon.svg" alt=""></button>
</div> {% endcomment %}

<h1 class="overview-header">I'm looking for a gift for... <span class="family-member">my uncle</span></h1>

{% include 'partials/ribbon.liquid' %}

<aside class="chatbot">
  <div class="input-container">
    <button class="mic-button"><img class="chatbot-icon" src="/assets/images/mic-icon.svg" alt=""></button>
    <input class="chatbot-input" type="text" placeholder="Type your message...">
    <button class="search-button"><img class="chatbot-icon" src="/assets/images/search-icon.svg" alt=""></button>
  </div>
</aside>

<section class="gifts-overview">
  <h2 class="display-none">Gifts</h2>
  {% for product in products %}
    {% if product.amount != '0.00' %}
      <article class="gift">
        <form method="post" action="/">
          {% if likedGifts contains product.id %}
            {% include 'partials/saved-button.liquid' %}
          {% else %}
            {% include 'partials/save-button.liquid' %}
          {% endif %}
        </form>
        <a href="/gift/{{ product.slug }}">
          <img class="product-image" src="{{ product.image }}" alt="">
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-price">€{{ product.amount }}</p>
        </a>
      </article>
    {% endif %}
  {% endfor %}
</section>



{% include 'partials/foot.liquid' %}
